{% extends "base.html" %}

{% block title %} {{title}} {% endblock %} 

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block content %} 

<h1>Courts</h1>

{% for p in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ p }}
        <a href="{% url 'booking:court_detail' p.pk %}" class="btn btn-primary">View Details</a>
    </li>
    <br>
    <img src="{{ p.image.url }}" alt="Court image" style="max-width:500px;">
    <p>{{ p.description }}</p>
    <br>
{% endfor %}

{% endblock %}


