{% extends "base.html" %}

{% block title %} {{title}} {% endblock %} 

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block content %} 

<h1>Courts</h1>

{% for p in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ p }}
        <a href="{% url 'booking:court_detail' p.pk %}" class="btn btn-primary">View Details</a>
    </li>
    <br>
    <img src="{{ p.image.url }}" alt="Court image" style="max-width:500px;">
    <br>
{% endfor %}

{% if request.GET.court_added %}

<div id="info" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Court Added</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The court has been successfully added.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<script>
  $(document).ready(function(){
      $("#info").modal('show');
  });
</script>

{% endif %}

{% endblock %}


